body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
}

main {
    padding: 12px;
    max-width: 880px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 40px;
}

header a.logo {
    font-weight: bold;
    font-size: 1.6rem;
}

header nav {
    display: flex;
    gap: 16px;
}

hr.header-line {
    margin: 0 0 40px 0 ;
    border: 0;
    border-top: 2px solid #333;
    border-radius: 4px;
}

/* ************************************************************************** */
div.post {
    display: grid;
    /* grid-template-columns: 0.8fr 1.2fr; */
    grid-template-columns: 1fr;
    gap: 24px;
    margin-bottom: 32px;
}

@media screen and (min-width: 700px) {
    div.post {
        grid-template-columns: 0.8fr 1.2fr;
    }
}

div.post div.texts h2 {
    margin: 0;
    font-size: 1.8rem;
}

div.post div.texts a {
    text-decoration: none;
    color: inherit;
}

div.post div.texts p.info {
    margin: 8px 0;
    font-size: 0.8rem;
    color: #888;
    font-weight: bold;
    display: flex;
    gap: 8px;
}

div.post div.texts p.info a.author {
    text-decoration: none;
    color: #333;
}

div.post div.texts p.info time {
    font-weight: normal;
}

div.post div.text p.summary {
    margin: 8px 0;
    line-height: 1.2rem;
}

div.post div.image {
    width: 100%;
    height: 260px;
}

div.post div.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 4px;
}


/* ****************************************************** */

form.login, form.register {
    max-width: 400px;
    margin: 0 auto;
}

input { 
    display: block;
    width: 100%;
    margin-bottom: 12px;
    box-sizing: border-box;
    padding: 8px 12px;
    outline: none;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    display: block;
    background-color: #333;
    border: 0;
    color: white;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: #333;
    border: 2px solid #333;
}

button[type="reset"] {
    margin: 4px 0;
}

nav.link {
    display: flex;
    align-content: center;
}

nav.link a {
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

nav.link a:hover {
    background-color: white;
    color: #333;
}



form h2 {
    text-align: center;
}

div.post-page div.image {
    max-height: 400px;
    overflow: hidden;
    display: flex;
}

div.post-page div.image img {
    height: 100%;
    object-fit: contain;
    object-position: center center;
    width: 100%;
}

div.post-page a {
    color: #333;
    text-decoration: underline;
}

div.post-page .title {
    text-align: center;
    margin: 12px 0;
}

div.post-page time , .author {
    text-align: center;
    display: block;
    margin-bottom: 8px;
    color: #888;
    font-size: 0.8rem;
    font-weight: bold;
}

div.post-page div.content p {
    line-height: 1.6rem;
    margin-bottom: 8px;
}

div.edit-post {
    text-align: center;
}

div.edit-post a.edit-btn {
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-flex;
    gap: 4px;
    text-decoration: none;
    margin-bottom: 20px;
    margin-right: 8px;
}

div.edit-post a.delete-btn {
    background-color: #333;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-flex;
    gap: 4px;
    text-decoration: none;
    margin-bottom: 20px;
}

a svg {
    vertical-align: middle;
    height: 20px;
}

div.edit-post a.edit-btn:hover {
    background-color: white;
    color: #333;
    /* border: 0px solid #333; */
}

div.edit-post a.delete-btn:hover {
    background-color: white;
    color: #333;
    /* border: 0px solid #333; */
}

/* ************************************* */
form.profile {
    margin-bottom: 40px;
}


/* *********************************************************** */

div.my-blogs .table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  div.my-blogs .table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
    font-weight: bold;
  }
  
  div.my-blogs .table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  div.my-blogs .table th,
  div.my-blogs .table td {
    padding: .625em;
    text-align: center;
    vertical-align: middle;
  }

  div.my-blogs .table td.lable {
    text-align: left;
    font-weight: bold;
  }
  
  div.my-blogs .table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  div.my-blogs .table tr td a {
    display: block;
    padding: 4px;
    margin: 4px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }

  div.my-blogs .table tr td a:hover {
    background-color: white;
    color: #333;
    border: none;
  }
  
  @media screen and (max-width: 600px) {
    div.my-blogs .table {
      border: 0;
    }
  
    div.my-blogs .table caption {
      font-size: 1.3em;
    }
    
    div.my-blogs .table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    div.my-blogs .table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    div.my-blogs .table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    div.my-blogs .table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a div.my-blogs .table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    div.my-blogs .table td:last-child {
      border-bottom: 0;
    }
  }
  
/** *********************************************************************************************  */

/* Container styles for centering content */
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 28rem; /* Adjusted height */
    text-align: center;
  }
  
  /* Style for the icon */
  .error-icon {
    color: #c53030; /* Red color */
    font-size: 3rem; /* Font size for icon */
    margin-bottom: 12px; /* Space below the icon */
  }
  
  /* Style for the title */
  .error-title {
    font-size: 3rem; /* Font size for title */
    font-weight: bold; /* Bold text */
    margin-bottom: 1rem; /* Space below the title */
  }
  
  /* Style for the message */
  .error-message {
    font-size: 1.25rem; /* Font size for message */
    margin-bottom: 1.25rem; /* Space below the message */
  }
  
  /* Style for the button */
  .error-button {
    color: white; /* Text color */
    background-color: #333; /* Indigo background color */
    border-radius: 0.375rem; /* Rounded corners */
    padding: 0.5rem 0.75rem; /* Padding for button */
    margin-top: 1rem; /* Space above the button */
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Ensure the link behaves like a button */
  }
  
  /* Button hover effect */
  .error-button:hover {
    background-color: white; /* Darker indigo on hover */
    color: #333;
  }
  